.heading{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    color: #ffffff;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
    font-size: 4em;
    text-decoration-line: underline;
    padding-bottom: 1em;
}
.container{
    align-content: center;
}
.background{
    background-image: url("resources/nightScape.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}

header{
    align-content: center;
}

.navbar-button{
    padding: 1em 1em 1em 1em;
        background-color: #c21616;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

footer{
    padding: 10em 10em 10em 10em;
    text-align: center;
}

.background-longTrain{
    background-image: url("resources/longTrain.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}

.background-workSite{
    background-image: url("resources/workSite.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}

.background-gradPic{
    background-image: url("resources/gradPic.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}
.background-bootCamp{
    background-image: url("resources/bootCamp.png");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}
.background-dressBlues{
    background-image: url("resources/dressBlues.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10em 10em 10em 10em;
    margin: 1em 1em 1em 1em;
}